div.container
  
  p Here are our books:
  
  div.col-md-3.col-sm-4(ng-repeat='book in books')
    div.row
      div
        img(src = '{{ book.image }}')
      div
        p {{ book.title }}
        p by {{ book.author }}
      
