div
  
  p.h2 The Library
  
  form.form-inline(ng-submit="searchForBooks()")
    div.form-group
      input.form-control(type='text', ng-model='search', name='search', placeholder="Search")
      button.btn.btn-default(type="submit") Search
  
  div.row(infinite-scroll='loadMoreBooks()' infinite-scroll-disabled='infiniteScrollTriggerDisabled' infinite-scroll-distance='infiniteScrollDistance')
    div(ng-repeat='book in books')
      div.clearfix.visible-md-block(ng-if='$index % 2 == 0')
      div.clearfix.visible-lg-block(ng-if='$index % 2 == 0')
      div.clearfix.visible-sm-block(ng-if='$index % 2 == 0')
      div.col-sm-6.top-buffer
        div.row
          div.col-xs-4
            img.img-responsive(src = '{{ book.image }}')
          div.col-xs-8
            strong {{ book.title }}
            p by {{ book.author }}
            p {{ book.description }} 
            
            ul.list-inline
              li Download:
              li(ng-if='book.epub')
                a(ng-href='{{ book.epub }}') epub
              li(ng-if='book.mobi')
                a(ng-href='{{ book.mobi }}') mobi
              li(ng-if='book.pdf')
                a(ng-href='{{ book.pdf }}') pdf

  div.top-buffer(ng-show="noSearchResultsFound")
    p No results found
