div.container
  
  p.h2 The Library
  
  div.row
    div(ng-repeat='book in books')
      div.clearfix.visible-md-block(ng-if='$index % 2 == 0')
      div.clearfix.visible-lg-block(ng-if='$index % 2 == 0')
      div.col-md-6
        div.row
          div.col-sm-4
            img.img-responsive.img-rounded(src = '{{ book.image }}')
          div.col-sm-8
            strong {{ book.title }}
            p by {{ book.author }}
            p {{ book.description }} 
            
            ul.list-inline
              li Download:
              li 
                a(ng-href='{{ book.epub }}') epub
              li 
                a(ng-href='{{ book.mobi }}') mobi
              li 
                a(ng-href='{{ book.pdf }}') pdf
