extends layout

block content
  
  div.navbar.navbar-default
    div.container-fluid
      div.page-header
        h1= title
        h4 Your Free Islamic Library
        
  div.row
    div(ng-view)

block scripts
  script(src='/js/app.js')
  script(src='/js/mainController.js')
  //-script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  //-script(src='/lib/underscore/underscore.js') 
