extends layout

block content
  div.container
    div.page-header
      h1= title
      h4 Welcome to #{title}

    p Here are our books:
    
    //-
    //-  ul
    //-    each book in books
    //-        li #{book.title}, by #{book.author}

    div(ng-view)

block scripts
  script(src='/js/app.js')
  script(src='/js/mainController.js')
  //-script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  //-script(src='/lib/underscore/underscore.js') 
