doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    block content
  
  footer.container
    p Islamic Mobility
    
  script(src='/lib/angular/angular.min.js')
  script(src='/lib/angular-bootstrap/ui-bootstrap.min.js')
  //-script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  //-script(src='/lib/underscore/underscore.js') 

  block scripts  
