doctype html
html(ng-app='islamicMobility')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    block content
  
  footer.container
    p Islamic Mobility
    
  script(src='https://code.angularjs.org/1.3.5/angular.min.js')
  script(src='https://code.angularjs.org/1.3.5/angular-route.min.js') 
  //-script(src='/lib/angular-bootstrap/ui-bootstrap.min.js')
  //-script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  //-script(src='/lib/underscore/underscore.js') 

  block scripts  
