body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.top-buffer {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .container-fluid,
  .row {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .navbar-header {
    margin: 0px;
  }
}
